<div>
    <strong>Setting notifications</strong>
</div>
<div>
    <strong>Currency: </strong>
    <label>
        <input type="text" placeholder="Currency" [(ngModel)]="notificationService.currency">
    </label>

    <strong>Condition: </strong>
    <label>
        <input type="text" placeholder="Condition" [(ngModel)]="notificationService.condition">
    </label>

    <strong>Message: </strong>
    <label>
        <input type="text" placeholder="Message" [(ngModel)]="notificationService.message">
    </label>

    <button (click)="createNotification()">Create notification</button>
</div>
