<div>
    <button (click)="show()">
        History
    </button>
</div>

<div *ngIf="showHistory">
    <ul>
        <li *ngFor="let history of historyService.histories">
            from: {{history.fromVal}}
            to: {{history.toVal}}
            amount: {{history.amount | number}}
            sum: {{history.sum | number}}
            date: {{history.date | date: 'shortDate'}}
        </li>
    </ul>
</div>
