<h1> Login </h1>
<form>
    <div class="container">
        <label>Username : </label>
        <input type="text" placeholder="Enter email" name="email" [(ngModel)]="loginService.email" required="">
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="loginService.pass" required>
        <button type="submit" (click)="onLoginClick()">Login</button>
        <button type="submit" (click)="onRegisterClick()">Register</button>
    </div>
</form>
