<div>
  <strong>Currency1: </strong>
    <label>
        <select #CurrSelect1 (change)="currencyService.onChangeFrom(CurrSelect1.value)">
          <option *ngFor="let curr of currencyService.currencies;">{{curr}}</option>
        </select>
    </label>

    <strong>Currency2: </strong>
    <label>
        <select #CurrSelect2 (change)="currencyService.onChangeTo(CurrSelect2.value)">
          <option *ngFor="let curr of currencyService.currencies;">{{curr}}</option>
        </select>
    </label>

    <strong>Amount: </strong>
    <label>
        <input type="text" [(ngModel)]="currencyService.amount">
    </label>

    <button (click)="currencyService.convert()">Convert</button>

    <strong>Result: </strong>
    <label>
        <input type="text" [(ngModel)]="currencyService.gross ">
    </label>
</div>

